@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

$background-color: #ffffff;
$secondary-background-color: #f1f1f1;
$text-color: #1d1d1d;
$accent-color: #d109d1;
$error-color: #d11313;

$font-body: "Libre Franklin", sans-serif;
$font-header: "Nunito", sans-serif;
